.center {
  margin: 0 auto;
  width: 80%;
}

.signIn-title,
.headline {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.signIn-title {
  font-weight: 700;
}

.headline {
  font-weight: 300;
}

/* Media query for tablets (devices with width greater than or equal to 768px) */
@media (min-width: 768px) {
  .center {
    width: 38%;
  }
}

/* Media query for desktops (devices with width greater than or equal to 1024px) */
@media (min-width: 1024px) {
  .center {
    width: 38%;
  }
}
