.navbar {
  background-color: #f4dfc8;
}

.logo {
  font-size: 1rem;
}

.link {
  color: black;
  text-decoration: none;
  padding: 1rem 1rem;
}

.title {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link:hover {
  background-color: #6d2932;
  color: white;
}
